@import "./variables";
@import "./mixins";

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&display=swap");

*,
*::after,
*::before {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 2035px;
  background: #000000 !important;
  background-image: url(../images/Group\ 1.png) !important;
  background-repeat: no-repeat !important;
  background-position: 118.79px -39.29px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 59px;
    height: auto;
    cursor: pointer;
    @include position(absolute, 61px, 118px);
  }

  #mainTitle {
    cursor: pointer;
    height: 74px;
    width: 117px;
    text-align: left;
    @include position(absolute, 56px, 177px);
    @include text($yellow, 32px, "Luckiest Guy");
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__ul {
    padding-left: 0;
    display: flex;
    @include position(absolute, 68px, 488px);
    @include text(#f9f9f9, 24px, "Lato");
    a {
      text-decoration: none;
      color: #ffffff;
    }
    gap: 34px;
    justify-content: center;
    list-style: none;
  }

  a:hover {
    border-bottom: 2px solid #ffd748;
    color: #ffd748;
  }
}

.search-container {
  width: 315px;
  height: 56px;
  @include position(absolute, 59px, 943px);
}

#search-bar {
  background-color: #21242d;
  border-width: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding-left: 64px;
  padding-right: 40px;
  box-sizing: border-box;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  pointer-events: none;
}

.icon1 {
  left: 25px;
}

.icon2 {
  right: 16px;
}

.menu {
  display: block;
  @include position(absolute, 166px, 143px);
  #menu_title {
    @include text(rgb(249, 249, 249, 67%), 18px, "Lato");
  }
  .menu_bar {
    align-items: left;
    list-style: none;
    padding-left: 0;
    a {
      @include text(rgb(249, 249, 249, 100%), 18px, "Lato");
      color: #f9f9f9;
    }
  }

  li {
    margin-top: 25px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
}

.library {
  display: block;
  @include position(absolute, 443px, 143px);
  #library_title {
    @include text(rgb(249, 249, 249, 67%), 18px, "Lato");
  }
  .library_bar {
    align-items: left;
    list-style: none;
    padding-left: 0;
    a {
      @include text(rgb(249, 249, 249, 100%), 18px, "Lato");
      text-decoration: none;
      color: #f9f9f9;
    }
  }

  li {
    margin-top: 25px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
}

.general {
  display: block;
  @include position(absolute, 812px, 143px);
  #general_title {
    @include text(rgb(249, 249, 249, 67%), 18px, "Lato");
  }
  .general_bar {
    list-style: none;
    padding-left: 0;
    a {
      @include text(rgb(249, 249, 249, 100%), 18px, "Lato");
      text-decoration: none;
      color: #f9f9f9;
    }
  }

  li {
    margin-top: 25px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
}

.carousel {
  width: 770px;
  height: 350px !important;
  @include position(absolute, 161px, 488px);

  img {
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
  }

  p {
    @include position(absolute, 30px, 40px);
    height: 48px;
    width: 440px;
    font-weight: 800 !important;
    margin: 0;
    // text-align: center;
    @include text(#f9f9f9, 48px, "Lato");
  }

  button {
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    background-color: rgb(249, 249, 249, 20%);
    color: #f9f9f9 100%;
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .watchlist {
    position: absolute;
    @include text(#f9f9f9, 18px, "Lato");
    width: 160px !important;
    height: 56px !important;
    font-weight: 800;
    bottom: 21px;
    border: 0;
  }

  .watchNow {
    position: absolute;
    @include text(#000000, 18px, "Lato");
    width: 190px !important;
    height: 56px !important;
    font-weight: 800;
    background-color: #f8b319;
    bottom: 21px;
    right: 20px;
    margin: 0;
    border: 0;
  }

  .watchNow:hover {
    background-color: #d69917;
  }
}

.card {
  width: 235px;
  height: 298px !important;
  border: 0;
  object-fit: cover;
  .plus {
    @include position(absolute, 231px, 10px);
    width: 57px;
    height: 57px;
    background-color: rgb(249, 249, 249, 20%);
    border-radius: 15px;
    border: 0;
  }

  .info {
    @include position(absolute, 231px, 77px);
    width: 150px;
    height: 57px;
    background-color: #f8b319;
    border-radius: 15px;
    border: 0;
    font-weight: 800 !important;
    @include text(#000000, 18px, "Lato");
  }

  .info:hover {
    background-color: #d69917;
  }
}

#loki {
  background-image: url("../images/Loki.png");
  @include position(absolute, 631px, 488px);
  border-radius: 25px !important;
  background-size: cover;
  border: 0;
}

#chernobyl {
  background-image: url("../images/Chernobyl.png");
  @include position(absolute, 631px, 755px);
  border-radius: 25px !important;
  background-size: cover;
  border: 0;
}

#ricky {
  background-image: url("../images/Rick\ and\ Morty.png");
  @include position(absolute, 631px, 1034px);
  border-radius: 25px !important;
  background-size: cover;
  border: 0;
}

.movies {
  h2 {
    @include position(absolute, 571px, 488px);
    @include text(#f9f9f9, 30px, "Lato");
    font-weight: 800;
  }

  .movieName {
    @include position(absolute, 21px, 21px);
    @include text(#f9f9f9, 24px, "Lato");
    font-weight: 800;
  }

  .episodes {
    @include position(absolute, 199px, 10px);
    @include text(#f9f9f9, 18px, "Lato");
    opacity: 70%;
  }

  .genre {
    @include position(absolute, 199px, 143px);
    @include text(#f9f9f9, 18px, "Lato");
    opacity: 70%;
  }
}

.topRatedMovie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 953px;
  gap: 34px;
  @include position(absolute, 280px, 77px);
}

.ratedMovies h2 {
  @include position(absolute, 172px, 58px);
  @include text(#f9f9f9, 48px, "Lato");
  font-weight: 800;
}

.movieCard {
  border: 0;
  border-radius: 17px 17px 0 0;
  overflow: hidden;
  @include text(#ffffff, 29.24px, "Lato");
  width: 295px !important;
  height: 580px !important;

  h3 {
    margin-top: 15px;
  }
}

.movieCard img {
  width: 100%;
  height: 72%;
}

.movie-container {
  @include position(absolute, 967px, 82px);
  width: 1065px;
  height: 922px;
}

.loadMoreButton {
  background-color: #f8b319;
  @include text(#000000, 18px, "Lato");
  border: 0;
  border-radius: 15px;
  width: 150px;
  height: 57px;
  font-weight: 800 !important;
  margin: 20px auto;
}

.rating {
  display: flex;
  height: 21px;
  gap: 7px;
}

.rating img {
  height: 100%;
  width: 21px;
  margin: 0;
}

#halfstar {
  width: 10.5px;
  margin: 0;
}

.loadMoreButton:hover {
  background-color: #d69917;
}
