@import "./variables";
@import "./mixins";

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&display=swap");

*,
*::after,
*::before {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 2035px;
  background: #000000 !important;
  background-image: url(../images/Group\ 1.png);
  background-repeat: no-repeat;
  background-position: 118.79px -39.29px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 59px;
    height: auto;
    cursor: pointer;
    @include position(absolute, 61px, 118px);
  }

  #mainTitle {
    cursor: pointer;
    height: 74px;
    width: 117px;
    text-align: left;
    @include position(absolute, 56px, 177px);
    @include text($yellow, 32px, "Luckiest Guy");
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__ul {
    padding-left: 0;
    display: flex;
    @include position(absolute, 68px, 488px);
    @include text(#f9f9f9, 24px, "Lato");
    a {
      text-decoration: none;
      color: #ffffff;
    }
    gap: 34px;
    justify-content: center;
    list-style: none;
  }

  a:hover {
    border-bottom: 2px solid #ffd748;
    color: #ffd748;
  }
}

.search-container {
  width: 315px;
  height: 56px;
  @include position(absolute, 59px, 943px);
}

#search-bar {
  background-color: #21242d;
  border-width: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding-left: 64px;
  padding-right: 40px;
  box-sizing: border-box;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  pointer-events: none;
}

.icon1 {
  left: 25px;
}

.icon2 {
  right: 16px;
}

.menu {
  display: block;
  @include position(absolute, 166px, 143px);
  #menu_title {
    @include text(rgb(249, 249, 249, 67%), 18px, "Lato");
  }
  .menu_bar {
    align-items: left;
    list-style: none;
    padding-left: 0;
    a {
      @include text(rgb(249, 249, 249, 100%), 18px, "Lato");
      color: #f9f9f9;
    }
  }

  li {
    margin-top: 25px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
}

.library {
  display: block;
  @include position(absolute, 443px, 143px);
  #library_title {
    @include text(rgb(249, 249, 249, 67%), 18px, "Lato");
  }
  .library_bar {
    align-items: left;
    list-style: none;
    padding-left: 0;
    a {
      @include text(rgb(249, 249, 249, 100%), 18px, "Lato");
      text-decoration: none;
      color: #f9f9f9;
    }
  }

  li {
    margin-top: 25px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
}

.general {
  display: block;
  @include position(absolute, 812px, 143px);
  #general_title {
    @include text(rgb(249, 249, 249, 67%), 18px, "Lato");
  }
  .general_bar {
    list-style: none;
    padding-left: 0;
    a {
      @include text(rgb(249, 249, 249, 100%), 18px, "Lato");
      text-decoration: none;
      color: #f9f9f9;
    }
  }

  li {
    margin-top: 25px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
}

.carousel {
  width: 770px;
  height: 350px !important;
  @include position(absolute, 161px, 488px);

  img {
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
  }

  p {
    @include position(absolute, 40px, 40px);
    height: 48px;
    width: 237px;
    margin: 0;
    text-align: center;
    @include text(#f9f9f9, 48px, "Lato");
  }

  button {
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    background-color: rgb(75, 74, 74, 80%);
    color: #f9f9f9 100%;
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
